*{
  margin: 0;
  box-sizing: border-box;
}
.app{
  background: #1f4037;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
min-height: 100vh;
}
.login{
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 5px;
  gap:10px;
}
.header{
  text-align: center;
}
.addtodo{
  display: flex;
  justify-content: center;
  padding: 10px;
}